/* From Uiverse.io by Yaya12085 */ 
.card {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2rem;
  width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: var(--container-color);
  padding: 1.5rem;
}

.card-header {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--title-color)
}

.price {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: var(--title-color)
}

.desc {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
  color: var(--text-color);
  text-align:left;
}

.lists {
  margin-bottom: 1.5rem;
  flex: 1 1 0%;
  color: var(--text-color);
}

.lists .list {
  margin-bottom: 0.5rem;
  display: flex;
  margin-left: 0.5rem
}

.lists .list svg {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  color: var(--first-color);
}

.action {
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0.25rem;
  background-color: var(--button-color);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: var(--button-text-color);
}

.tick-symbol{
  fill: var(--button-color);
  color: var(--button-text-color);
}