.LoginAvatar__menu {
  position: relative;
  display: flex;
  gap: 25px;
}

.LoginAvatar__menu li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.LoginAvatar__menu li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.LoginAvatar__menu li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

.LoginAvatar__menu li:hover::before {
  opacity: 1;
}

.LoginAvatar__menu li::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}

.LoginAvatar__menu li:hover::after {
  opacity: 0.5;
}

.LoginAvatar__menu .icon {
  color: #777;
  font-size: 1.75em;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.LoginAvatar__menu li:hover .icon {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

.LoginAvatar__menu li span {
  position: absolute;
}

.LoginAvatar__menu .title {
  color: #fff;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.LoginAvatar__menu li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}