.EmptyStride-Container{
    display: block;
}

.EmptyStride-Heading{
    padding: 2rem;
    gap: 1rem;
    font-size: 48px;
    color: var(--title-color)
}

.EmptyStride-SubHeading{
    font-size: 24px;
    color: var(--text-color);
}

.EmptyStrideState-Image-Container {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}