/* From Uiverse.io by akshat-patel28 */
@import "../../BaseToaster.scss";
.InfoToastMessage-card {
  height: 70px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: var(--container-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.InfoToastMessage-wave {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: color-mix(in srgb, var(--info-icon) 15%, transparent);
}

.InfoToastMessage-icon-container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color-mix(in srgb, var(--info-icon) 18%, transparent);
  border-radius: 50%;
  margin-left: 8px;
}

.InfoToastMessage-icon {
  width: 17px;
  height: 17px;
  color: var(--info-icon);
}

.InfoToastMessage-message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.InfoToastMessage-message-text,
.InfoToastMessage-sub-text {
  margin: 0;
  cursor: default;
}

.InfoToastMessage-message-text {
  color: var(--info-title);
  font-size: 17px;
  font-weight: 700;
}

.InfoToastMessage-sub-text {
  font-size: 14px;
  color : var(--text-color);
}

.InfoToastMessage-cross-icon {
  width: 18px;
  height: 18px;
  color: #555;
  cursor: pointer;
}