.AuthForm-Overlay{
  position: fixed;
  inset: 0;
  background: color-mix(
    in srgb,
    var(--reverse-body-color) 30%,
    transparent
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.AuthForm-header-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AuthForm-close-icon{
  font-size: 28px;
  color: var(--button-color);
}

.AuthForm-SignIn-Form{
  color : var(--button-color);
}

  .Authform {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: var(--body-color);
    color: #fff;
    border: 1px solid #333;
  }

  .AuthForm-Title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: var(--button-color);
  }

  .AuthForm-Title::before {
    width: 18px;
    height: 18px;
  }

  .AuthForm-Title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }

  .AuthForm-Title::before,
  .AuthForm-Title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--button-color);
  }

  .message, 
  .AuthForm-signin {
    font-size: 14.5px;
    color: var(--text-color);
  }

  .AuthForm-signin {
    text-align: center;
  }

  .AuthForm-signin a:hover {
    text-decoration: underline royalblue;
  }

  .AuthForm-signin a {
    color: #00bfff;
  }

  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }

  .Authform label {
    position: relative;
  }

  .Authform label .input {
    background-color: var(--body-color);
    color: var(--text-color);
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }

  .Authform label .input + span {
    color: var(--eyebrow-color);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }

  .Authform label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }

  .Authform label .input:focus + span,
  .Authform label .input:valid + span {
    color: var(--text-color);
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }

  .input {
    font-size: medium;
  }

  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: var(--button-text-color);
    font-size: 16px;
    transform: .3s ease;
    background-color: var(--button-color);
  }

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }

    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }