.dialog-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: fadeIn 0.2s ease-out;
}

.dialog-box {
  width: 40%;
  min-width: 300px;
  background: var(--container-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
  animation: scaleIn 0.2s ease-out;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}

.dialog-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
}

.dialog-description {
  font-weight: 100;
  color: var(--text-color);
}

.dialog-actions {
  display: flex;
  gap: 10px;
}

.dialog-button {
  flex: 1;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.dialog-button--primary {
  background-color: rgb(255, 114, 109);
  color : #fff;
}

.dialog-button--primary:hover {
  background-color: rgb(255, 73, 66);
}

.dialog-button--secondary {
  background-color: #ddd;
  color :#58555E;
}

.dialog-button--secondary:hover {
  background-color: rgb(197, 197, 197);
}

.dialog-close {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.dialog-close svg {
  fill: rgb(175, 175, 175);
}

.dialog-close:hover svg {
  fill: #000;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.9); }
  to { transform: scale(1); }
}
