.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.header__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: none;
}

.header__search {
  display: flex;
  padding: .40rem .75rem;
  background-color: var(--first-color-light);
  border-radius: .25rem;
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon,
.header__toggle {
  font-size: 1.2rem;
}

.header__toggle {
  color: var(--title-color);
  cursor: pointer;
}

.header-login-btn {
  height: calc(var(--header-height) - 10px);
  padding: 0 1rem;
  align-self: center;
  background-color: var(--container-color);
  color: var(--title-color);
  border : 1px solid var(--eyebrow-color);
}

.header-login-btn:hover {
  color: var(--button-text-color);
}

.login-button-arrow:hover{
  background : var(--container-color);
}

.header-login-btn {
  color: inherit;
}

.header-login-btn svg {
  width: 1.75rem;
  height: 1.75rem;
}

.Header-button-container{
  display : flex;
  align-items: center;
  gap: 12%;
  height: 100%;
}

.toggleSwitch-profile {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
}

@media screen and (max-width: 320px) {
  .header__search {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--header-height) + .5rem);
  }
  .header__search {
    width: 300px;
    padding: .55rem .75rem;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }
}